{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "ie": "9"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-for-of",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "loose": true
      }
    ]
  ]
}